Repository openscad/openscad, pull requests merged in 2018-12, with the labels that each got.

#2617 some fixes & minor improvements (mostly CMake related)
  CMakeLists.txt
  src/modcontext.cc
Labels: Changes Requested

#2622 Updated macOS library dependencies
  features/qscintilla2-priv.prf
  scripts/macosx-build-dependencies.sh
Labels: Build tweaks

#2646 fix typo that prevented saving the button settings
  src/input/InputDriverManager.cc
Labels: Inputdriver

#2604 updating the translation
  doc/translation.txt
  locale/cs.po
  locale/de.po
  locale/es.po
  locale/fr.po
  locale/openscad.pot
  locale/pl.po
  locale/ru.po
  locale/uk.po
  openscad.pro
  scripts/translation-update.sh
  src/MainWindow.ui
  src/input/AxisConfigWidget.ui
  src/printutils.h
  src/qtgettext.h
Labels: internationalization
