Repository openscad/openscad, pull requests merged in 2019-02, with the labels that each got.

#2776 Accept Customizer as a stable feature.
  src/feature.cc
  src/feature.h
  src/mainwin.cc
  src/openscad.cc
  src/parameter/parameterset.cpp
  src/parameter/parameterset.h
  tests/CMakeLists.txt
  tests/regression/astdumptest/allexpressions-expected.ast
  tests/regression/astdumptest/assert-expression-fail2-test-expected.ast
  tests/regression/astdumptest/assert-expression-tests-expected.ast
  tests/regression/astdumptest/assert-tests-expected.ast
  tests/regression/astdumptest/echo-expression-tests-expected.ast
  tests/regression/astdumptest/include-overwrite-main-expected.ast
  tests/regression/astdumptest/let-module-tests-expected.ast
  tests/regression/astdumptest/let-tests-expected.ast
  tests/regression/astdumptest/list-comprehensions-expected.ast
  tests/regression/astdumptest/special-consts-expected.ast
Labels: Customizer

#2343 Use left recursion for "input" in parser
  .gitignore
  src/CSGTreeNormalizer.cc
  src/csgnode.cc
  src/parser.y
  testdata/python/gen_issue2342-template.py
  tests/CMakeLists.txt
  tests/regression/echotest/issue2342-expected.echo
Labels: Comp: Parser

#2734 Add the 3Dconnexion Universal Receiver USB id
  src/Preferences.cc
  src/Preferences.h
  src/Preferences.ui
  src/input/HidApiInputDriver.cc
  src/input/HidApiInputDriver.h
  src/settings.cc
  src/settings.h
Labels: PR: Rebase Warning ⚠️

#2775 Accept SVG import as a stable feature
  src/feature.cc
  src/feature.h
  src/import.cc
  src/import.h
  src/import_svg.cc
  src/importnode.h
  src/libsvg/svgpage.cc
  src/libsvg/svgpage.h
  src/libsvg/util.cc
  src/libsvg/util.h
  src/mainwin.cc
  tests/CMakeLists.txt
Labels: PR: Rebase Warning ⚠️, Tag: SVG
